html,
body {
  margin: 0;
  color: #555;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  line-height: 1.4;

  > div {
    margin-top: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
}

* + * {
  margin-top: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  line-height: 1.1;

  + * {
    margin-top: 0.5rem;
  }
}

strong {
  color: #222;
}

li {
  margin-top: 0.25rem;
}

.container {
  width: 805px;
  margin: 2rem auto;

  .calendar {
    display: flex;
    flex-wrap: wrap;
  
    * {
      margin: 0;
    }
  
    .week-header {
      align-items: center;
      background-color: #0096c7;
      display: flex;
      height: 25px;
      justify-content: space-around;
      width: 100%;
  
      &__label {
        color: white;
      }
    }
  
    .day-box {
      background-color: #fff;
      border-collapse: collapse;
      border: 1px solid #bbb;
      height: 100px;
      position: relative;
      width: 115px;
  
      &:nth-of-type(7n + 2),
      &:nth-of-type(7n + 1) {
        background-color: #eee;
        color: #0096c7;
      }
  
      &.not-current {
        color: #bbb;
      }
  
      &__label {
        font-size: 12px;
        font-weight: bold;
        left: 2px;
        position: absolute;
        top: 2px;
        z-index: 2;
      }
  
      &__reminders {
        height: 100%;
        padding-top: 20px;
  
        &::-webkit-scrollbar {
          background: transparent;
          width: 0;
        }
  
        .reminder {
          display: block;
          position: relative;
          width: 100%;
  
          &__label {
            background-color: #0096c7;
            border-radius: 2px;
            box-sizing: border-box;
            color: white;
            cursor: pointer;
            font-size: 12px;
            height: 20px;
            margin: 2px auto;
            overflow: hidden;
            padding: 2px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 105px;
          }
  
          &__time {
            color: #000;
            font-size: 10px;
            margin-right: 5px;
          }
  
          &__details {
            background-color: #0096c7;
            border-radius: 5px;
            color: white;
            cursor: default;
            display: flex;
            flex-direction: column;
            justify-content: center;
            left: 50%;
            padding: 10px 10px 25px 10px;
            position: absolute;
            top: 22px;
            transform: translateX(-50%);
            z-index: 10;
  
            textarea {
              background-color: transparent;
              border: none;
              color: white;
              cursor: text;
              display: flex;
              font-family: "Roboto", sans-serif;
              font-size: 18px;
              height: 50px;
              outline: none;
              overflow: hidden;
              resize: none;
              white-space: normal;
              width: 180px;
  
              &::placeholder {
                color: #005c7b;
              }
            }
  
            hr {
              border: 1px solid #ccc;
              height: 2px;
              margin: 5px 0;
              width: 100%;
            }
  
            .reminder__input {
              background-color: transparent;
              border: none;
              color: white;
              cursor: text;
              font-family: "Roboto", sans-serif;
              outline: none;
  
              &::placeholder {
                color: #005c7b;
              }
  
              &--location {
                width: 100%;
              }
  
              &--location-loading,
              &--weather-loading {
                position: absolute;
                z-index: 11;
              }
  
              &--location-loading {
                right: 10px;
                top: 70px;
              }
  
              &--weather-loading {
                bottom: 5px;
                left: 10px;
              }
  
              &--time {
                width: 18px;
              }
            }
          }
  
          &__locations {
            background-color: #005c7b;
            border-radius: 5px;
            left: 50%;
            max-height: 100px;
            overflow-y: auto;
            padding: 5px 10px;
            position: absolute;
            top: 92px;
            transform: translateX(-50%);
            width: 250px;
            z-index: 11;
  
            p {
              cursor: pointer;
              margin: 5px 0;
  
              &:hover {
                text-decoration: underline;
              }
  
              &.reminder__locations--not-found {
                cursor: default;
                text-decoration: none;
              }
            }
          }
  
          &__background {
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9;
          }
        }
      }
  
      &__new,
      &__delete {
        align-items: center;
        border-radius: 5px;
        border: none;
        color: white;
        cursor: pointer;
        display: flex;
        font-size: 12px;
        justify-content: center;
        outline: none;
        padding: 2px 5px;
        position: absolute;
      }
  
      &__new {
        background-color: #0096c7;
        display: none;
        right: 2px;
        top: 2px;
      }
  
      &__delete {
        background-color: #de3163;
        bottom: 5px;
        right: 5px;
      }
  
      &:hover .day-box__new {
        display: block;
      }
    }
  }
  
  .loading-icon {
    border-radius: 50px;
    border: 3px solid rgba(255, 255, 255, 0.4);
    display: inline-block;
    height: 15px;
    position: relative;
    vertical-align: middle;
    width: 15px;
  
    &:after {
      content: "";
      position: absolute;
      top: -3px; 
      left: -3px;
      bottom: -3px;
      right: -3px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #fff;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
    }
  }
  
  @-webkit-keyframes spin {
    0%{ -webkit-transform: rotate(0deg); tranform: rotate(0deg);}
    100%{ -webkit-transform: rotate(360deg); tranform: rotate(360deg);}
  }
  
  @keyframes spin {
    0%{ -webkit-transform: rotate(0deg); transform: rotate(0deg);}
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg);}
  }  
}
